<section class="profile-section">
  <div class="container-fluid">
    <div class="cards-section">
      <div class="row">
        <div class="col-sm-3" *ngFor="let value of cardsSection">
          <mat-card [ngStyle]="{'background': value.color}">
            <div class="row">
              <mat-icon class="col-sm-2 icons-size">
                <i [ngClass]="value.matIcon"></i>
              </mat-icon>
              <h3 class="col-sm-10">{{value.count}}</h3>
            </div>
            <h3 class="text-right">{{value.text}}</h3>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Activity
          </ng-template>
          Angular is a platform and framework for building client applications in HTML and TypeScript. Angular is
          written
          in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import
          into your apps.

          The basic building blocks of an Angular application are NgModules, which provide a compilation context for
          components. NgModules collect related code into functional sets; an Angular app is defined by a set of
          NgModules. An app always has at least a root module that enables bootstrapping, and typically has many more
          feature modules.
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Shedule
          </ng-template>
          Angular NgModules differ from and complement JavaScript (ES2015) modules. An NgModule declares a compilation
          context for a set of components that is dedicated to an application domain, a workflow, or a closely related
          set of capabilities. An NgModule can associate its components with related code, such as services, to form
          functional units.

          Every Angular app has a root module, conventionally named AppModule, which provides the bootstrap mechanism
          that launches the application. An app typically contains many functional modules.
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Fee reports
          </ng-template>
          Not content
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-sm-6">
      <mat-card>
        <div id="piechart"></div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <mat-card>
      <div id="barchart"></div>
    </mat-card>
  </div>
</section>