<!-- <div class="footer-section navbar-fixed-bottom">
  <mat-toolbar color="primary">
    <span class="justify-content-center">
      @copyright 2017 - {{date | date: "yyyy"}} by <i class="fas fa-heart"></i> <b>SMS</b>
    </span>
  </mat-toolbar>
</div> -->
<div class="footer-bar-section">
  <!-- <nav class="navbar navbar-dark bg-primary  navbar-fixed-bottom">
    <div class="navbar-expand m-auto navbar-text"> -->
      <span >
        @copyright 2017 - {{date | date: "yyyy"}} by <i class="fas fa-heart"></i> <b>SMS</b>
      </span>
    <!-- </div>
  </nav> -->
</div>
