// custom inheritance Scss classes
%p-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// mixins for resuability 
@mixin customeColors($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
}
.footer-bar-section {
  bottom: 0;
  width: 100%;
  height: 56px;
  @include customeColors(#fff, #3f51b5);
  @extend %p-flex-center;
}
