<section class="p-home-form-section">
  <div class="container-fluid">
    <mat-card class="p-card">
      <span>
        <h3>Home page form details:</h3>
      </span>
      <form>
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter your name">
              <mat-icon matSuffix>home</mat-icon>
              <mat-hint>Enter your name</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Logo</mat-label>
              <input matInput placeholder="Enter your Logo">
              <mat-icon matSuffix><i class="fab fa-google"></i></mat-icon>
              <mat-hint>Enter your logo</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>School Name</mat-label>
              <input matInput placeholder="Enter your school name">
              <mat-icon matSuffix><i class="far fa-lightbulb"></i></mat-icon>
              <mat-hint>Enter your school name</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput placeholder="Enter your title">
              <mat-icon matSuffix><i class="fas fa-user-circle"></i></mat-icon>
              <mat-hint>Enter your title</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Email Id</mat-label>
              <input matInput placeholder="Enter your email id">
              <mat-icon matSuffix><i class="fas fa-user-circle"></i></mat-icon>
              <mat-hint>Enter your email id</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Mobile number</mat-label>
              <input matInput placeholder="Enter your Mobile number">
              <mat-icon matSuffix><i class="fas fa-mobile-alt"></i></mat-icon>
              <mat-hint>Enter your Mobile number</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>card1 tittle</mat-label>
              <input matInput placeholder="Enter your card1 tittle">
              <mat-icon matSuffix><i class="fas fa-address-card"></i></mat-icon>
              <mat-hint>Enter your card1 tittle</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>card2 tittle</mat-label>
              <input matInput placeholder="Enter your card2 tittle">
              <mat-icon matSuffix><i class="fas fa-text-width"></i></mat-icon>
              <mat-hint>Enter your card2 tittle</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>School title</mat-label>
              <input matInput placeholder="Enter your School title">
              <mat-icon matSuffix><i class="fas fa-text-width"></i></mat-icon>
              <mat-hint>Enter your School title</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>School body</mat-label>
              <input matInput placeholder="Enter your School body">
              <mat-icon matSuffix><i class="fas fa-text-width"></i></mat-icon>
              <mat-hint>Enter your School body</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>School slogan</mat-label>
              <input matInput placeholder="Enter your School slogan">
              <mat-icon matSuffix><i class="fas fa-text-width"></i></mat-icon>
              <mat-hint>Enter your School slogan</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>School banners</mat-label>
              <input matInput placeholder="Enter your School banners">
              <mat-icon matSuffix><i class="far fa-images"></i></mat-icon>
              <mat-hint>Enter your School banners</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Date created </mat-label>
              <!-- <input matInput placeholder="Enter your School banners"> -->
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- <mat-icon matSuffix><i class="far fa-images"></i></mat-icon> -->
              <mat-hint>Enter your date</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </form>
    </mat-card>
  </div>
</section>