.p-authentication-section {
  background: url("../../../../../assets/images/background-img3.jpg") no-repeat
    center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  mat-card {
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 355px;
  }
  .p-baground-img {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(123, 143, 173, 0.25);
  }
  // p-logo
  .p-logo {
    text-align: center;
    img {
      width: 100px;
    }
  }
  // p- mat-icons
  mat-icon {
    color: #fe9704;
  }
  .p-signup-link {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding-top: 7px;
    a:hover {
      text-decoration: underline;
      color: #fe9704;
    }
  }
  .p-forgotpassword-link {
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    a:hover {
      text-decoration: underline;
      color: #fe9704;
    }
  }

}
